<div class="grid">

  <div class="header">
        <a href="#nav" class="nav-btn">&#9776;</a>
  </div>

  <div class="unit unit-s-1-3 unit-1-4 l-m">
      <div class="logo"><a href="{{site.baseurl}}/"><h1>Spectrum Powderworks</h1></a></div>
  </div>

  <div class="unit unit-s-1 unit-s-3-4 unit-s-3-4-1">
        <nav class="nav nav-top #navigation" data-state="closed">
          <ul>
            <li class="nav-btn"><a href="{{site.baseurl}}/">Home</a></li>
            <li class="nav-btn"><a href="{{site.baseurl}}/gallery/">Gallery</a></li>
            <li class="nav-btn"><a href="{{site.baseurl}}/price/">Pricing</a></li>
            <li class="nav-btn"><a href="{{site.baseurl}}/faq/">Faq</a></li>
          </ul>
        </nav>
    </div>

    <div class="unit unit-s-1 l-s">
      <div class="logo"><a href="{{site.baseurl}}/"><h1>Spectrum Powderworks</h1></a></div>
    </div>
</div>
