<div class="header">
        <a href="#nav" class="nav-btn">&#9776;</a>
      </div>
        <nav class="nav nav-top #navigation" data-state="closed">
          <ul>
            <li class="nav-btn"><a href="{{site.baseurl}}/">Home</a></li>
            <li class="nav-btn"><a href="{{site.baseurl}}/gallery/">Gallery</a></li>
            <li class="nav-btn"><a href="{{site.baseurl}}/price/">Pricing</a></li>
            <li class="nav-btn"><a href="{{site.baseurl}}/faq/">Faq</a></li>
          </ul>
        </nav>
      <div class="logo"><a href="{{site.baseurl}}/"><h1>Spectrum Powderworks</h1></a></div>
