@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

body {
  margin: 0;
  padding: 0 auto;
  font-family: sans-serif;
  background-image: url("..{{site.baseurl}}/img/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

img {
  display: block;
  width: 100%;
}

section {
  padding-top: 6em;
  margin-top: -6em;
}

.body {
  font-family: trebuchet, sans-serif;

}

header {  /*This fixes the nav at the top, and determines the nav color*/
  display: inline-block;
  background-color: #272d50;
  width: 100%;
  top: 0;
  left: 0;
}

/* SKIPLINKS */
.skiplinks {
  margin: 0;
  padding: 0;
  position: absolute;
  width: 100%;
  z-index: 3000;


  font-size: 1.25rem;
  font-weight: bold;
  list-style-type: none;

}

.skiplinks a,
.skiplinks a:link,
.skiplinks a:visited {
  padding: 0.5em 0.75em;
  position:absolute;
  top: -10em;

  background-color: #000;

  color: #fff;
  text-decoration: none;
}

.skiplinks a:focus {
  top: 0;
}

/* CONTENT */
h2 {
  font-family: 'Sanchez', sans-serif;
  letter-spacing: -1px;
}

.body {
  margin-top: -1em;
  margin-bottom: 1.5em;
}

.about-us,
.the-shop,
.price,
.the-links {
  padding: 1em;
  margin-bottom: -2.5em;
}

.price-btm {
  margin-bottom: 1em;
}

.head {
  padding: 1em;
  margin-bottom: -2em;
}

.the-shop img {
  border: solid 2px #c1cf00;
  padding: 0;
}

.the-links a,
.the-links a:link,
.the-links a:visited,
.about-us a,
.about-us a:link,
.about-us a:visited {
  font-size: 0.8em;
  text-transform: uppercase;
  border-bottom: dotted 1px #000000;
  text-decoration: none;
  line-height: 2em;
}

.gallery-img {
  list-style-type: none;
  margin: 0;
  padding: 0;
  border: solid 2px #c1cf00;
}

.list-1 {
  margin: 0;
  padding: 0;
}

.list-1 li {
  list-style-type: none;
}

.faq-top {
  padding-top: 4em;
}

h3 {
  font-size: 1em;
}

.ol-list {
  margin: 0;
  padding-bottom: 1.5em;
  margin-top: -0.5em;
}

footer {
  background-color: #272d50;
  padding: 1em;
}

.foot-head {
  text-align: center;
  font-family: 'Sanchez', sans-serif;
  font-size: 1em;
  color: #c1cf00;
}

.foot-body {
  font-size: 0.7em;
  font-weight: lighter;
  color: #FFF;
  padding: 0.2em;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.copyright {
  text-transform: uppercase;
  color: #FFFFFF;
  font-family: 'Sanchez', sans-serif;
  font-size: 0.5em;
  letter-spacing: 0.2em;
  text-align: center;
  padding: 1em 0 0 0;
}

/* iPhone 4 & 5 */
@media only screen and (min-width: 40em) {
  .about-us,
  .the-shop,
  .price,
  .the-links {
    padding: 2em;
  }

.foot-head {
  margin: 0;
  padding: 0.7em 0 0.7em 0;
}

.foot-body {
  text-align: left;
  padding: 0 0 0 3em;
  margin: 0;
}

}

/* 900 PX */
@media only screen and (min-width: 56em) {
  .left-pad {
    padding-left: 14em;
  }

  .left-pad2 {
    padding-left: 15.6em;
  }

  .left-pad3 {
    padding-left: 2em;
  }

  .the-shop {
    margin-bottom: -4em;
  }

  .head {
  padding-left: 15.6em;
  margin-bottom: -3em;
  }

}

/* RESOLUTION FOR SAMSUNG TAB 2, iPad 2 & mini */
@media only screen and (min-width: 64em) {
  .left-pad {
    padding-left: 15.5em;
  }

  .left-pad2 {
    padding-left: 17.5em;
  }

  .left-pad3 {
    padding-left: 2em;
  }

  .head {
  padding-left: 17.5em;
  }
}

/* 1100 PX */
@media only screen and (min-width: 68.75em) {
  .left-pad {
    padding-left: 16.5em;
  }

  .left-pad2 {
    padding-left: 18.6em;
  }

  .left-pad3 {
    padding-left: 2em;
  }

  .head {
  padding-left: 18.5em;
  }

  .the-shop {
    margin-top: -2em;
  }
}
