<!DOCTYPE html>
<html lang="en-ca">
<head>
<meta charset="utf-8">
  <title>Spectrum Powderworks</title>
  <link rel="stylesheet" href="css/common.css">
  <link href="css/grid.css" rel="stylesheet">
  <link href='http://fonts.googleapis.com/css?family=Sanchez' rel='stylesheet' type='text/css'>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
</head>
<body id="top">

  <ul class="skiplinks">
    <li><a href="#main">Skip to primary content</a></li> <!--add id's to the content-->
    <li><a href="#complementary">Skip to secondary content</a></li>
    <li><a href="#navigation">Skip to navigation</a></li>
  </ul>

  <section>
   <header>
      <div class="header">
        <a href="#nav" class="nav-btn">&#9776;</a>
      </div>
        <nav class="nav nav-top #navigation" data-state="closed">
          <ul>
            <li class="nav-btn"><a href="{{site.baseurl}}/">Home</a></li>
            <li class="nav-btn"><a href="{{site.baseurl}}/gallery/">Gallery</a></li>
            <li class="nav-btn"><a href="{{site.baseurl}}/price/">Pricing</a></li>
            <li class="nav-btn"><a href="{{site.baseurl}}/faq/">Faq</a></li>
          </ul>
        </nav>
      <div class="logo"><a href="{{site.baseurl}}/"><h1>Spectrum Powderworks</h1></a></div>
    </header>
  </section>

  {{content}}

  <footer>
    <div class="grid">
      <div class="unit unit-s-1">
      <p class="foot-head">Contact Us</p>
      </div>

      <div class="unit unit-s-1">
      <p class="foot-body">PH: 719.633.5560<br>
      FAX: 719.633.5290<br>spectrum@pcisys.net</p>

      <p class="copyright">© 2013 Mansura Chowdhury.</p>
      </div>
    </div>
  </footer>

  <script type="text/javascript" src="http://code.jquery.com/jquery.min.js"></script>
  <script src="js/main.js"></script>
</body>
</html>
